extends ../layout.jade
block contenido
	h1 Panel de administraci칩n
	table(class="table")
		caption Productos Actuales
		thead
			tr
				th #
				th Nombre
				th Descripci칩n
				th Precio
				th Im치genes
				th Acciones
		tbody
			each product in products
				tr
					td= product.id
					td= product.title
					td= product.description
					td= product.pricing
					td 
						a(href="#{ product.imageURL }" class="btn") Ver im치gen
					td
						a(href="/menu/edit/#{product.id}") Editar
						="-"
						a(href="/menu/delete/#{product.id}") Eliminar
					